<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    #form-data {
        width: 400px;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        padding: 15px 15px 15px 15px;
        border-radius: 5px;
        margin-top: 100px;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .control {
        width: 100%;
        justify-content: center;
    }

    .inpt {
        height: 25px;
        border-radius: 5px;
    }

    .btn_submit {
        text-decoration: none;
        padding: 0.5rem 1rem;
        margin-bottom: 0.8rem;
        display: flex;
        width: 8rem;
        justify-content: center;
        align-items: center;
        background-color: #f0e6e6;
        border: 1px solid #ddd;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        font-weight: bold;
        color: #333;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    }

    .btn_submit:hover {
        background-color: rgb(58, 48, 48);
        color: white;
        transition: 0.4s;
    }

    .cntr_btn {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .top-div {
        display: flex;
        width: 100%;
        justify-content: start;
    }

    a {
        text-decoration: none;
        padding: 0.5rem 1rem;
        margin-left: 1rem;
        margin-top: 0.5rem;
        display: flex;
        width: 8rem;
        justify-content: center;
        align-items: center;
        background-color: #f2f2f2;
        border: 1px solid #ddd;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: bold;
        color: #333;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    }

    a:hover {
        background-color: rgb(58, 48, 48);
        color: white;
        transition: 0.4s;
    }
</style>

<body>

    <div class="top-div">
        <a id="back" href="/welcome"> BACK </a>
    </div>
    <div>
        <form id="form-data" onsubmit="loguser(event)">
            <div class="cntr_btn">
                <h2 id="change"> Change Password </h2>
            </div>
            <label for="current_password">
                <h2 id="current"> Current Password </h2>
            </label> <input id="current_password"" class=" inpt" type="password" />
            <label for="new_password">
                <h2 id="new"> New Password </h2>
            </label> <input id="new_password" class="inpt" type="password" />
            <br></br>
            <div class="cntr_btn"> <button id="submit" type="submit" class="btn_submit"> SUBMIT </button> </div>
        </form>
    </div>
</body>
<script>

    localStorage.removeItem('auction');
    const loguser = (e) => {
        e.preventDefault();
        var current_password = document.getElementById('current_password').value;
        var new_password = document.getElementById('new_password').value;

        fetch('/change-password', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                query: `
        mutation getUser($curr_password: String!, $new_password: String!) {
          login(currPassword : $curr_password, newPassword : $new_password) {
            message{
                status
                message
            }
          }
        }
      `,
                variables: {
                    curr_password: current_password,
                    new_password: new_password
                }
            })
        })
            .then(res => {
                if (res.ok) {
                    res.json().then((res) => {
                        if (res.data.login.message.status == 'failed') {
                            return alert(res.data.login.message.message)
                        } else {
                            alert(res.data.login.message.message)
                            let data = JSON.stringify(res.data.login.message.result);
                            localStorage.setItem('user', data)
                            return window.location.href = '/welcome'
                        }
                    })
                } else {
                    return res.json().then((res) => {
                        alert(res.errors[0].message);
                    });
                }
            })
            .catch((err) => {
                console.error(err);
                alert('An error occurred while logging in.');
            });
    }
</script>

</html>