<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    #form-data {
        width: 400px;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        padding: 15px 15px 15px 15px;
        border-radius: 5px;
        margin-top: 100px;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .control {
        width: 100%;
        justify-content: center;
    }

    .inpt {
        height: 25px;
        border-radius: 5px;
    }

    .btn_submit {
        text-decoration: none;
        padding: 0.5rem 1rem;
        margin-bottom: 0.8rem;
        display: flex;
        width: 8rem;
        justify-content: center;
        align-items: center;
        background-color: #f0e6e6;
        border: 1px solid #ddd;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        font-weight: bold;
        color: #333;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    }

    .btn_submit:hover {
        background-color: rgb(58, 48, 48);
        color: white;
        transition: 0.4s;
    }

    .cntr_btn {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .top-div {
        display: flex;
        width: 100%;
        justify-content: start;
    }

    a {
        text-decoration: none;
        padding: 0.5rem 1rem;
        margin-left: 1rem;
        margin-top: 0.5rem;
        display: flex;
        width: 8rem;
        justify-content: center;
        align-items: center;
        background-color: #f2f2f2;
        border: 1px solid #ddd;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: bold;
        color: #333;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    }

    a:hover {
        background-color: rgb(58, 48, 48);
        color: white;
        transition: 0.4s;
    }
</style>

<body>

    <div class="top-div">
        <a id="back" href="/">Back</a>
    </div>
    <div>
        <form id="form-data" onsubmit="loguser(event)">
            <div class="cntr_btn">
                <h2 id="login">SIGNUP</h2>
            </div>
            <label for="username">
                <h2 id="usernametext">Username</h2>
            </label> <input id="username" class="inpt" type="text" />
            <label for="email">
                <h2 id="emailtext">Email</h2>
            </label> <input id="email" autocomplete="username" class="inpt" type="email" />
            <label for="password">
                <h2 id="passwordtext">Password </h2>
            </label> <input id="password" autocomplete="current-password" class="inpt" type="password" />
            <br></br>
            <div id="button" class="cntr_btn"> <button id="submit" type="submit" class="btn_submit">SUBMIT</button>
            </div>
        </form>
    </div>
</body>

<script>

    const loguser = (e) => {
        e.preventDefault();
        var email = document.getElementById('email').value;
        var password = document.getElementById('password').value;
        var username = document.getElementById('username').value;

        fetch('/signup', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                query: `
        mutation getUser($email: String!, $password: String!, $username: String!) {
          signup(email: $email, password: $password, username: $username) {
            message{
                status
                message
            }
          }
        }
      `,
                variables: {
                    email: email,
                    password: password,
                    username: username
                }
            })
        })
            .then(res => {
                if (res.ok) {
                    res.json().then((res) => {
                        if (res.data.signup.message.status == 'failed') {
                            return alert(res.data.signup.message.message)
                        } else {
                            alert(res.data.signup.message.message)
                            return window.location.href = '/'
                        }
                    })
                } else {
                    return res.json().then((res) => {
                        alert(res.errors[0].message);
                    });
                }
            })
            .catch((err) => {
                console.error(err);
                alert('An error occurred while logging in.');
            });
    }
</script>

</html>